# mysql example file conf
[client-server]
port=3306
[server]

error_log=/var/log/mysql/mariadb.err
data=/usr/local/mysql/var
datadir=/var/lib/mysql
autoset_open_files_limit
flush
[mysql]
socket=/var/run/mysqld/mysqld.sock
